.Pago-exitoso {
    width: 107px;
    height: 22px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #00337f;
  }
  .Tu-nmero-de-cobro-l {
    width: 432px;
    height: 38px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #343434;
  }
  .Rectangle {
    background-color: #f8f8f8;
  }
  .Autorizacin-bancari {
    width: 160px;
    height: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
  }

  .Detalle-de-pago {
    width: 128px;
    height: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
  }

  .Key {
    width: 178px;
    height: 20px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #191d28;
  }

  .Value {
    width: 202px;
    height: 20px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c2341;
  }

  .RectangleEnviarCorreo {
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.17);
    border: solid 1px #e7e7e7;
    background-color: #ffffff;
  }
  .EnviarCorreo {
    width: 146px;
    height: 20px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff6f20;
  }
  .RectangleDescargar {
    width: 184px;
    height: 32px;
    border-radius: 4px;
    background-color: #ff6f20;
  }
  .Descargar {
    width: 168px;
    height: 17px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }