<div class="col-md-12">
    <div>
        <ul>
            <a class="Referencias-bancaria">Mantenimiento CAT /
            </a>
            <a class="Referencias-bancaria">
                {{cliente.nombre}} /
            </a>

            <a class="Nueva-referencia">
                Póliza # {{poliza |json}} 
            </a>
        </ul>
    </div>
    <div>
        <samp class="back">
            <mat-icon aria-hidden="false" (click)="back()" class="icon-back mr-2">keyboard_arrow_left </mat-icon><samp class="Recibos-de-la-pliza ml-1">Recibos de la póliza # {{poliza}}</samp>
        </samp>
    </div>
    <div class="flex-container mt-2">
        <acme-datos-poliza></acme-datos-poliza>
        <acme-datos-tarjeta-asignada></acme-datos-tarjeta-asignada>
    </div>
    <br>

    <table class="table text-center Rectangle-Copy-5 ">
        <thead class="thead-light ">
            <tr>
                <th class="Fraccin">Fracción
                    <mat-icon aria-hidden="false" class="Arrows_C-Copy-38"> unfold_more</mat-icon>
                </th>
                <th class="No-de-recibo">No. de recibo</th>
                <th class="Estatus-del-recibo">Estatus del recibo</th>
                <th class="Monto">Monto
                    <mat-icon aria-hidden="false" class="Arrows_C-Copy-38"> unfold_more</mat-icon>
                </th>
                <th class="Periodo-desde">Periodo desde
                    <mat-icon aria-hidden="false" class="Arrows_C-Copy-38"> unfold_more</mat-icon>
                </th>
                <th class="Periodo-hasta">Periodo hasta
                    <mat-icon aria-hidden="false" class="Arrows_C-Copy-38"> unfold_more</mat-icon>
                </th>
                <th class="Conducto">Conducto
                    <mat-icon aria-hidden="false" class="Arrows_C-Copy-38"> unfold_more</mat-icon>
                </th>
                <th class="Tarjeta">Tarjeta
                    <mat-icon aria-hidden="false" class="Arrows_C-Copy-38"> unfold_more</mat-icon>
                </th>
                <th class="Fecha-cobro">Fecha de cobro
                    <mat-icon aria-hidden="false" class="Arrows_C-Copy-38"> unfold_more</mat-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr #vigenciahasta id="vigenciahasta" *ngFor="let recibo of recibos">
                <td class="FraccinTD">{{recibo.fraccion}}</td>
                <td class="No-del-reciboTD">{{recibo.norecibo}}</td>
                <td class="Estatus">{{recibo.estatus}}</td>
                <td class="-MN"><strong>{{recibo.monto | currency}}</strong> </td>
                <td class="PeriodoTD">{{recibo.hasta}}</td>
                <td class="PeriodoTD">{{recibo.desde}}</td>
                <td class="TarjetaTD">{{recibo.tarjeta}}</td>
                <td class="Sin-asignacin">{{recibo.cobro}} <button #recibos id="recibos" routerLink="/mantenimiento-cuentas/poliza">VER RECIBOS</button></td>
            </tr>
        </tbody>
    </table>
</div>