<div class="col-md-12">
    <p></p>
    <div>
        <ul>
            <a class="Referencias-bancaria">Mantenimiento CAT /
            </a>
            <a class="Nueva-referencia">
                {{cliente.nombre}}
            </a>
        </ul>
    </div>
    <div>
        <samp class="back">
            <mat-icon routerLink="/mantenimiento-cuentas" aria-hidden="false" class="icon-back mr-2">keyboard_arrow_left </mat-icon><samp class="Recibos-de-la-pliza ml-2">{{cliente.nombre}}</samp></samp>
    </div>
    <div class="Mostrando-20-de-44">Mostrando 8 de 8</div>
    <br>
    <table class="table text-center Rectangle-Copy-5">
        <thead class="thead-light ">
            <tr>
                <th class="No-de-Pliza">No. de Póliza</th>
                <th class="Ramo">Ramo</th>
                <th class="Producto">Producto</th>
                <th class="Estatus-pliza">Estatus Póliza</th>
                <th class="Versin">Versión</th>
                <th class="Vigencia-desde">Vigencia desde
                    <mat-icon aria-hidden="false" class="Arrows_C-Copy-38"> unfold_more</mat-icon>
                </th>
                <th class="Vigencia-hasta">Vigencia hasta
                    <mat-icon aria-hidden="false" class="Arrows_C-Copy-38"> unfold_more</mat-icon>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr #vigenciahasta id="vigenciahasta" *ngFor="let poliza of polizas; let i of index">
                <td><a class="No-poliza" (click)="irpoliza(poliza)">{{poliza.nopoliza}}</a> </td>
                <td class="RamoTD">{{poliza.ramo}}</td>
                <td class="Premiere-Individual">{{poliza.producto}}</td>
                <td class="Vigente">{{poliza.estatus}}</td>
                <td class="vrs1">{{poliza.version}}</td>
                <td class="vigencia">{{poliza.desde}}</td>
                <td class="vigencia"><a #hasta id="hasta">{{poliza.hasta}}</a> <button #recibos id="recibos" (click)="irpoliza(poliza)">VER RECIBOS</button></td>
            </tr>
        </tbody>
    </table>
</div>