<div>
    <p class="Datos-de-la-pliza">Datos de la póliza</p>
    <table class="RectangleDatos">
        <tbody>
            <tr>
                <td>
                    <p class="Contratante">Contratante</p>
                    <p class="Lorem-ipsum-dolor-si">Juan</p>
                </td>
                <td>
                    <p class="No-de-pliza">No. de póliza</p>
                    <p class="Mensual">Juan</p>
                </td>
                <td>
                    <p class="No-de-pliza"> Ramo</p>
                    <p class="Mensual">Juan</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p class="Contratante"> Producto</p>
                    <p class="Lorem-ipsum-dolor-si">Juan</p>
                </td>
                <td>
                    <p class="No-de-pliza"> Versión de póliza</p>
                    <p class="Mensual">Juan</p>
                </td>
                <td>
                    <p class="No-de-pliza"> Ramo</p>
                    <p class="Mensual">Juan</p>
                </td>
            </tr>
        </tbody>
    </table>