.save-money {
    width: 30px;
    height: 30px;
    object-fit: contain;
  }
  .Referencia-creada-ex {
    width: 340px;
    height: 22px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #002e71;
  }
  .Recuerda-que-la-refe {
    width: 418px;
    height: 19px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #343f61;
  }
  .Rectangle-Copy-4 {
    width: 494px;
    height: 36px;
    background-color: #f8f8f8;
  }
  .Datos-de-la-referenc {
    width: 157px;
    height: 20px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #4d4d4d;
  }

  .Key {
   
    font-family: OpenSans;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #191d28;
  }

  .Value{

    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c2341;
  }
  .Todos-los-recibos {

    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff6f20;
  }

  .Rectangle-Copy-7 {
 
    border-radius: 4px;
    border: solid 1px #ff6f20;
    background-color: #ffffff;
  }

  .Rectangle-Copy-7-Naranja {
    width: 191px;

    border-radius: 4px;
    background-color: #ff6f20;
  }

  .Pagar {

    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
  }