<div class="titulo">
    <samp class="Pago-en-lnea">Mantenimiento cuentas bancarias CAT </samp>
    <samp class="-Personas">| Persona</samp>
</div>

<div>

    <div>
        <table class="Componet">
            <tr>
                <td align="center" class="Mostrando-20-de-44">
                    Busca por nombre de cliente o número de póliza (solo para conducto intermediario)
                </td>
            </tr>
            <tr>
                <td align="center">
                    <form>
                        <mat-form-field>
                            <input matInput placeholder="Nombre del cliente">
                        </mat-form-field>
                        <button mat-raised-button class="RectangleNaranga">
                            <samp class="Buscar-cliente"> Buscar cliente</samp>
                        </button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>