<div class="col-md-12 m-2">
    <div class="titulo">
        <samp class="Pago-en-lnea">Mantenimiento cuentas bancarias CAT </samp>
        <samp class="-Personas">| Persona</samp>
    </div>

    <div class="flex-container">
        <div class="mostrando center">
            <p class="Mostrando-20-de-44">Busca por nombre de cliente o número de póliza (solo para conducto intermediario)</p>
        </div>
        <div class="Rectangle flex-containerRectangle">
            <div class="transparencia">
                <input id="buscarTexto" type="text" class="Nombre-del-cliente transparencia" placeholder="{{placeholderText}}" (keyup)="buscar(buscarTexto.value)" #buscarTexto class="form-control">
            </div>

            <div ngbDropdown class="btn-group RectangleNaranja">
                <button mat-button type="reset" class="transparencia">
                    <mat-icon aria-hidden="false" class="icon-search" (click)="buscar(buscarTexto.value)">search</mat-icon>
                    <samp class="Buscar-cliente ml-2 mr-1">BUSCAR CLIENTE</samp>
                    <mat-icon class="Line"></mat-icon>
                </button>
                <button mat-button class="arrow_drop_down---material mt-1 transparencia margendropdown" ngbDropdownToggle>
                </button>

                <div class="dropdown-menu Rectangle1 margendropdown" ngbDropdownMenu>
                    <li class="Resultados-de-bsque ml-2">Buscar por:</li>
                    <button [ngStyle]="{'color': clicked ? '#3a3a3a': '#ff6f20'}" (click)="clienteOp()" class="Resultado-text text-style-1 ml-1" ngbDropdownItem>Nombre de cliente </button>
                    <button [ngStyle]="{'color': clicked ? '#ff6f20' : '#3a3a3a'}" (click)="nopolizaOp()" class="Resultado-text text-style-1 ml-1" ngbDropdownItem>Número de póliza</button>
                </div>
            </div>
        </div>
        <div *ngIf="buscarTexto.value" class="busqueda">
            <p class="Resultados-de-bsque mt-2 ml-3">Resultado de la búsqueda:</p>
            <table class="ml-3">
                <tbody>
                    <tr *ngFor="let el of clientesArr;">
                        <td class="Resultado-text ml-5" [ngStyle]="{'text-decoration': buscarTexto.value ? 'underline': 'none'}"><span (click)="guardar(el)">{{el.nombre}}</span></td>
                        <td class="Asegurado" style="text-align: right;">{{el.rol}}</td>
                    </tr>
                </tbody>
            </table>

            <div *ngIf="clientesArr.length === 0" class="alert alert-info" role="alert">
                No existen resultados de la búsqueda: {{buscarTexto.value}}
            </div>
        </div>
    </div>
</div>