table {
    width: 100%;
}

.Button-row,
.Button-row a {
    margin-right: 8px;
}

.Componet {
    align-self: right;
}

.Rectangle {
    width: 1117px;
    height: 2px;
    border-radius: 2px;
    background-color: #ebecf0;
}

.RectangleNaranja {
    width: 168px;
    height: 36px;
    background-color: #ff6f20;
}

.Buscar-cliente {
    width: 95px;
    height: 17px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.Recibos-exigibles {
    width: 136px;
    height: 22px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff6f20;
}

.Plizas-pendientes {
    width: 140px;
    height: 22px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #979cae;
}

.Cantidad {
    width: 20px;
    height: 20px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.Rectangle-Copy-7 {
    border-radius: 4px;
    border: solid 1px #ff6f20;
    background-color: #ffffff;
}

.mat-stroked-button:not([disabled]) {
    border: solid 1px #ff6f20;
    background-color: #ffffff;
}

.Filtrar {
    width: 45px;
    height: 17px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff6f20;
}

.Filtrar-Img {
    width: 6px;
    height: 4px;
    object-fit: contain;
    background-color: #ff6f20;
}

.Mostrando {
    width: 132px;
    height: 20px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #3a3a3a;
}

.Rectangle-botones {
    position: absolute;
    width: 451px;
    height: 48px;
    -webkit-filter: blur(8px);
    filter: blur(8px);
    background-color: rgba(255, 248, 226, 0.87);
}

.Rectangle-Copy-7 {
    border-radius: 4px;
    background-color: #ff6f20;
    position: absolute;
}

tr.mat-row:hover {
    background-color: #fff8e2;
}

.Rectangle-botones-float {
    margin-top: -25px;
    width: 451px;
    position: absolute;
    background-color: rgba(255, 248, 226, 0.87);
}

.No-recibo-link {
    width: 97px;
    height: 20px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff6f20;
}

.Todos-los-recibos {
    font-family: OpenSans;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff6f20;
}

.Pendiente-exigible {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #0054ba;
}

.Rechazo-definitivo- {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #a72121;
}

.Campo {
    width: 181px;
    height: 20px;
    font-family: OpenSans;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c2341;
}

.Monto {
    font-family: OpenSans;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c2341;
}

.Campo-key {
    font-family: OpenSans;
    font-size: 11px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.27;
    letter-spacing: normal;
    color: #191d28;
    background-color: #f3f3f3;
}

.Plizas-pendientes-select {
    width: 136px;
    height: 22px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ff6f20;
}

.mat-ink-bar {
    border-radius: 2px;
    background-color: #ff6f20;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
    background-color: #ff6f20;
}

.Filtro {
    width: 44px;
    height: 22px;
    font-family: OpenSans;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: justify;
    color: #979cae;
}

.Limpiar-filtros {
    width: 78px;
    height: 17px;
    font-family: OpenSans;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    color: #ff6f20;
}

.CountFilter {
    width: 7px;
    height: 14px;
    font-family: OpenSans;
    font-size: 10.7px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.Oval {
    width: 16px;
    height: 16px;
    background-color: #ff6f20;
}